body {
	margin:0;
	background-color: black;
	background-image: radial-gradient(
		rgba(25, 25, 25, 0.75), black 120%
	);
 	height: 100vh;
	color:white;
	font-family:fantasy;
}

.title {
	font-family:Fantasy;
	text-align:center;
	font-weight:bold;
	font-size:250%;
	padding:0px;

	text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
	animation-duration: 0.01s;
	animation-name: textflicker;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.heading {
	background:black;
	padding:10px;
}

.blink {
	animation: textblink 1.5s cubic-bezier(0.5, 1, 1, 1) infinite;
}

@keyframes textblink {
	1% {
		opacity:1;
	}
	1.001% {
		opacity:0;
	}

	49.999% {
		opacity:0;
	}
	50% {
		opacity:1;
	}
}

@keyframes textflicker {
	from {
		text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
	}
	to {
		text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
	}
}
